# Machine Learning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [10]:
filename = '../datasets/iris.csv'

names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

df = pd.read_csv(filename)

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Exploration

In [11]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [12]:
df.shape

(150, 5)

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## data cleaning / data munging

In [15]:
df['species'] = df['species'].astype('category')
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: category
Categories (3, object): ['setosa', 'versicolor', 'virginica']

In [16]:
df.dtypes

sepal_length     float64
sepal_width      float64
petal_length     float64
petal_width      float64
species         category
dtype: object

## Splits de data in een training set en een test set

In [24]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.3)

In [25]:
df_train

     sepal_length  sepal_width  petal_length  petal_width     species
84            5.4          3.0           4.5          1.5  versicolor
61            5.9          3.0           4.2          1.5  versicolor
81            5.5          2.4           3.7          1.0  versicolor
19            5.1          3.8           1.5          0.3      setosa
29            4.7          3.2           1.6          0.2      setosa
..            ...          ...           ...          ...         ...
77            6.7          3.0           5.0          1.7  versicolor
134           6.1          2.6           5.6          1.4   virginica
70            5.9          3.2           4.8          1.8  versicolor
78            6.0          2.9           4.5          1.5  versicolor
119           6.0          2.2           5.0          1.5   virginica

[105 rows x 5 columns]

In [26]:
df_test

     sepal_length  sepal_width  petal_length  petal_width     species
30            4.8          3.1           1.6          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
71            6.1          2.8           4.0          1.3  versicolor
5             5.4          3.9           1.7          0.4      setosa
83            6.0          2.7           5.1          1.6  versicolor
18            5.7          3.8           1.7          0.3      setosa
53            5.5          2.3           4.0          1.3  versicolor
12            4.8          3.0           1.4          0.1      setosa
103           6.3          2.9           5.6          1.8   virginica
67            5.8          2.7           4.1          1.0  versicolor
104           6.5          3.0           5.8          2.2   virginica
59            5.2          2.7           3.9          1.4  versicolor
16            5.4          3.9           1.3          0.4      setosa
76            6.8          2.8           4.8          1.4  versicolor
0             5.1          3.5           1.4          0.2      setosa
56            6.3          3.3           4.7          1.6  versicolor
26            5.0          3.4           1.6          0.4      setosa
117           7.7          3.8           6.7          2.2   virginica
124           6.7          3.3           5.7          2.1   virginica
149           5.9          3.0           5.1          1.8   virginica
123           6.3          2.7           4.9          1.8   virginica
8             4.4          2.9           1.4          0.2      setosa
142           5.8          2.7           5.1          1.9   virginica
75            6.6          3.0           4.4          1.4  versicolor
24            4.8          3.4           1.9          0.2      setosa
97            6.2          2.9           4.3          1.3  versicolor
120           6.9          3.2           5.7          2.3   virginica
107           7.3          2.9           6.3          1.8   virginica
112           6.8          3.0           5.5          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
6             4.6          3.4           1.4          0.3      setosa
82            5.8          2.7           3.9          1.2  versicolor
131           7.9          3.8           6.4          2.0   virginica
146           6.3          2.5           5.0          1.9   virginica
54            6.5          2.8           4.6          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
72            6.3          2.5           4.9          1.5  versicolor
10            5.4          3.7           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
133           6.3          2.8           5.1          1.5   virginica
135           7.7          3.0           6.1          2.3   virginica
60            5.0          2.0           3.5          1.0  versicolor
125           7.2          3.2           6.0          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
57            4.9          2.4           3.3          1.0  versicolor

## Preparation

In [27]:
feature_names = names[:-1]
target_name = names[-1]

In [30]:
print('Features: ', feature_names)
print('Targert: ', target_name)

Features:  ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
Targert:  species

In [ ]:
df_train_features = df_train[feature_names]
df_train_target = df_train[target_name]

df_test_features = df_test[feature_names]
df_test_target = df_test[target_name]

## Scaling numeric features

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(df_train_features)

StandardScaler()

In [42]:
train_features_scaled = scaler.transform(df_train_features)
test_features_scaled = scaler.transform(df_test_features)

In [43]:
df_train_features_scaled = pd.DataFrame(
    train_features_scaled,
    columns = [col + '_scaled' for col in list(feature_names)], 
    index = df_train_features.index)

In [44]:
df_test_features_scaled = pd.DataFrame(
    test_features_scaled,
    columns = [col + '_scaled' for col in list(feature_names)], 
    index = df_test_features.index)

In [49]:
df_train = pd.concat([
    df_train_features,
    df_train_features_scaled, 
    df_train_target], axis=1)

In [50]:
df_test = pd.concat([
    df_test_features,
    df_test_features_scaled, 
    df_test_target], axis=1)

In [51]:
df_train.to_csv('../datasets/iris_training_dataset.csv') 
df_test.to_csv('../datasets/iris_test_dataset.csv')

In [52]:
!ls ../datasets

WijkBuurtkaart_2019_v2up     iris.csv
WijkBuurtkaart_2019_v2up.zip iris_test_dataset.csv
ca-500.csv                   iris_training_dataset.csv
etmgeg_260.txt               test_data.csv
etmgeg_279.txt               train_data.csv