# Pandas

In [1]:
import pandas as pd

In [8]:
sales = {'account': ['Jones LLC', 'Alpha Co', 'Blue Inc'],
         'Jan': [150, 200, 50],
         'Feb': [200, 210, 90],
         'Mar': [140, 215, 95],
         'Apr': [200, 201, None]}

df = pd.DataFrame.from_dict(sales)
df

     account  Jan  Feb  Mar    Apr
0  Jones LLC  150  200  140  200.0
1   Alpha Co  200  210  215  201.0
2   Blue Inc   50   90   95    NaN

### EDA - Exploratory Data Analysis

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Account  3 non-null      object
 1   Jan      3 non-null      int64
 2   Feb      3 non-null      int64
 3   Mar      3 non-null      int64
 4   Apr      2 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 248.0+ bytes

In [10]:
df.shape

(3, 5)

In [12]:
list(df.columns)

['account', 'Jan', 'Feb', 'Mar', 'Apr']

In [18]:
df.columns = df.columns.str.capitalize()

In [22]:
df.head(2)

     Account  Jan  Feb  Mar    Apr
0  Jones LLC  150  200  140  200.0
1   Alpha Co  200  210  215  201.0

In [23]:
df.tail(2)

    Account  Jan  Feb  Mar    Apr
1  Alpha Co  200  210  215  201.0
2  Blue Inc   50   90   95    NaN

### auto-mpg.csv

In [24]:
filename = '../datasets/auto-mpg.csv'

df = pd.read_csv(filename)
df

ParserError: Error tokenizing data. C error: Expected 9 fields in line 34, saw 10