In [88]:
import pandas as pd

In [89]:
url = 'https://nl.wikipedia.org/wiki/Provincies_van_Nederland'

df = pd.read_html(url, decimal=',', thousands='.')[0]
df

,Vlag,Provincie,Bevolking[1],Oppervlakte (land+water) in km²,Oppervlakte (land) in km²,inw./km²[2],Hoofdstad,Gemeente met de meeste inwoners
0,NaN,Groningen,585866,2959.68,2323.94,252,Groningen,Groningen
1,NaN,Friesland (Fryslân),649957,5748.77,3335.62,195,Leeuwarden,Leeuwarden
2,NaN,Drenthe,493682,2680.39,2632.65,188,Assen,Emmen
3,NaN,Overijssel,1162406,3420.74,3319.00,350,Zwolle,Enschede
4,NaN,Flevoland,423021,2412.31,1411.63,300,Lelystad,Almere
5,NaN,Gelderland,2085952,5136.31,4963.71,420,Arnhem,Nijmegen
6,NaN,Utrecht,1354834,1560.05,1485.46,912,Utrecht,Utrecht
7,NaN,Noord-Holland,2879527,4091.93,2664.82,1081,Haarlem,Amsterdam
8,NaN,Zuid-Holland,3708696,3307.86,2700.07,1374,Den Haag,Rotterdam
9,NaN,Zeeland,383488,2933.44,1782.12,215,Middelburg,Terneuzen
10,NaN,Noord-Brabant,2562955,5082.06,4905.46,522,'s-Hertogenbosch,Eindhoven
11,NaN,Limburg,1117201,2209.85,2146.61,520,Maastricht,Maastricht

In [90]:
df.to_csv('provincies.csv')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Vlag                             0 non-null      float64
 1   Provincie                        12 non-null     object
 2   Bevolking[1]                     12 non-null     int64
 3   Oppervlakte (land+water) in km²  12 non-null     float64
 4   Oppervlakte (land) in km²        12 non-null     float64
 5   inw./km²[2]                      12 non-null     int64
 6   Hoofdstad                        12 non-null     object
 7   Gemeente met de meeste inwoners  12 non-null     object
dtypes: float64(3), int64(2), object(3)
memory usage: 896.0+ bytes

In [92]:
df.drop('Vlag', axis=1, inplace=True)

In [93]:
df

,Provincie,Bevolking[1],Oppervlakte (land+water) in km²,Oppervlakte (land) in km²,inw./km²[2],Hoofdstad,Gemeente met de meeste inwoners
0,Groningen,585866,2959.68,2323.94,252,Groningen,Groningen
1,Friesland (Fryslân),649957,5748.77,3335.62,195,Leeuwarden,Leeuwarden
2,Drenthe,493682,2680.39,2632.65,188,Assen,Emmen
3,Overijssel,1162406,3420.74,3319.00,350,Zwolle,Enschede
4,Flevoland,423021,2412.31,1411.63,300,Lelystad,Almere
5,Gelderland,2085952,5136.31,4963.71,420,Arnhem,Nijmegen
6,Utrecht,1354834,1560.05,1485.46,912,Utrecht,Utrecht
7,Noord-Holland,2879527,4091.93,2664.82,1081,Haarlem,Amsterdam
8,Zuid-Holland,3708696,3307.86,2700.07,1374,Den Haag,Rotterdam
9,Zeeland,383488,2933.44,1782.12,215,Middelburg,Terneuzen
10,Noord-Brabant,2562955,5082.06,4905.46,522,'s-Hertogenbosch,Eindhoven
11,Limburg,1117201,2209.85,2146.61,520,Maastricht,Maastricht

In [94]:
df.shape

(12, 7)

In [95]:
df.dtypes

Provincie                           object
Bevolking[1]                         int64
Oppervlakte (land+water) in km²    float64
Oppervlakte (land) in km²          float64
inw./km²[2]                          int64
Hoofdstad                           object
Gemeente met de meeste inwoners     object
dtype: object

In [96]:
df[['Provincie','Hoofdstad','Gemeente met de meeste inwoners']] = df[['Provincie','Hoofdstad','Gemeente met de meeste inwoners']].astype('string')

In [97]:
df.select_dtypes(include=('int', 'float')).describe()

,Bevolking[1],Oppervlakte (land+water) in km²,Oppervlakte (land) in km²,inw./km²[2]
count,1.200000e+01,12.000000,12.000000,12.000000
mean,1.450632e+06,3461.949167,2805.924167,527.416667
std,1.107181e+06,1297.173728,1170.544359,389.059813
min,3.834880e+05,1560.050000,1411.630000,188.000000
25%,5.628200e+05,2613.370000,2055.487500,242.750000
50%,1.139804e+06,3133.770000,2648.735000,385.000000
75%,2.205203e+06,4339.462500,3323.155000,619.500000
max,3.708696e+06,5748.770000,4963.710000,1374.000000

In [98]:
df['Provincie'].value_counts()

Groningen              1
Friesland (Fryslân)    1
Drenthe                1
Overijssel             1
Flevoland              1
Gelderland             1
Utrecht                1
Noord-Holland          1
Zuid-Holland           1
Zeeland                1
Noord-Brabant          1
Limburg                1
Name: Provincie, dtype: Int64

In [99]:
df.sort_values('inw./km²[2]')

,Provincie,Bevolking[1],Oppervlakte (land+water) in km²,Oppervlakte (land) in km²,inw./km²[2],Hoofdstad,Gemeente met de meeste inwoners
2,Drenthe,493682,2680.39,2632.65,188,Assen,Emmen
1,Friesland (Fryslân),649957,5748.77,3335.62,195,Leeuwarden,Leeuwarden
9,Zeeland,383488,2933.44,1782.12,215,Middelburg,Terneuzen
0,Groningen,585866,2959.68,2323.94,252,Groningen,Groningen
4,Flevoland,423021,2412.31,1411.63,300,Lelystad,Almere
3,Overijssel,1162406,3420.74,3319.00,350,Zwolle,Enschede
5,Gelderland,2085952,5136.31,4963.71,420,Arnhem,Nijmegen
11,Limburg,1117201,2209.85,2146.61,520,Maastricht,Maastricht
10,Noord-Brabant,2562955,5082.06,4905.46,522,'s-Hertogenbosch,Eindhoven
6,Utrecht,1354834,1560.05,1485.46,912,Utrecht,Utrecht
7,Noord-Holland,2879527,4091.93,2664.82,1081,Haarlem,Amsterdam
8,Zuid-Holland,3708696,3307.86,2700.07,1374,Den Haag,Rotterdam

In [100]:
df.set_index('Provincie', inplace=True)

In [101]:
df.reset_index(inplace=True)

In [102]:
df.set_index(['Provincie','Hoofdstad'], inplace=True)

In [106]:
df.loc[('Groningen','Groningen')]

Bevolking[1]                          585866
Oppervlakte (land+water) in km²      2959.68
Oppervlakte (land) in km²            2323.94
inw./km²[2]                              252
Gemeente met de meeste inwoners    Groningen
Name: (Groningen, Groningen), dtype: object

In [107]:
df.loc[('Groningen','Groningen')]

Bevolking[1]                          585866
Oppervlakte (land+water) in km²      2959.68
Oppervlakte (land) in km²            2323.94
inw./km²[2]                              252
Gemeente met de meeste inwoners    Groningen
Name: (Groningen, Groningen), dtype: object

In [110]:
df.reset_index(inplace=True)

In [113]:
df[['Provincie','Hoofdstad']]

              Provincie         Hoofdstad
0             Groningen         Groningen
1   Friesland (Fryslân)        Leeuwarden
2               Drenthe             Assen
3            Overijssel            Zwolle
4             Flevoland          Lelystad
5            Gelderland            Arnhem
6               Utrecht           Utrecht
7         Noord-Holland           Haarlem
8          Zuid-Holland          Den Haag
9               Zeeland        Middelburg
10        Noord-Brabant  's-Hertogenbosch
11              Limburg        Maastricht

In [115]:
df[df['Provincie'].str.contains('Holland')]

,Provincie,Hoofdstad,Bevolking[1],Oppervlakte (land+water) in km²,Oppervlakte (land) in km²,inw./km²[2],Gemeente met de meeste inwoners
7,Noord-Holland,Haarlem,2879527,4091.93,2664.82,1081,Amsterdam
8,Zuid-Holland,Den Haag,3708696,3307.86,2700.07,1374,Rotterdam

In [119]:
df.loc[df['Provincie'].str.contains('Holland'), 'Provincie':'Bevolking[1]']

       Provincie Hoofdstad  Bevolking[1]
7  Noord-Holland   Haarlem       2879527
8   Zuid-Holland  Den Haag       3708696