# Basis operaties in Python
Voorbeelden van __operatoren__

In [12]:
343 + 434

777

In [10]:
34 - 7

27

In [11]:
67 * 445

29815

In [8]:
56 / 43

1.302325581395349

In [13]:
56 // 43    # Floored division

1

In [14]:
56 % 43     # rest na floored division  - modulo

13

In [40]:
getal = 67.0

In [41]:
type(getal)

float

In [44]:
bedrag1 = 0.1
bedrag2 = 0.2

totaal = bedrag1 + bedrag2

print(totaal)

0.30000000000000004

In [45]:
totaal == 0.3

False

In [49]:
float('867')

867.0

## Werken met strings

In [4]:
tekst = "Hello world"
tekst = 'Hello world'

print(tekst)

Hello world

#### concatenation

In [17]:
voornaam = 'Peter'
achternaam = 'Anema'

naam = voornaam + ' ' + achternaam          # concatenation

print(naam)

Peter Anema

#### formatting

In [22]:
naam = 'Mijn naam is %s %s' % (voornaam, achternaam)
print(naam)

Mijn naam is Peter Anema

In [23]:
naam = f'Mijn naam is {voornaam} {achternaam}'
print(naam)

Mijn naam is Peter Anema

#### String methods

In [50]:
aanhef = naam.upper()
aanhef

'MIJN NAAM IS PETER ANEMA'

In [96]:
woorden = aanhef.split()
woorden

['MIJN', 'NAAM', 'IS', 'PETER', 'ANEMA']

In [97]:
'_'.join(woorden)

'MIJN_NAAM_IS_PETER_ANEMA'

# IPython

In [28]:
!ls      #  of voor Windows: !dir

7052_95_UntypedDataSet_03052020_113458.csv
CBS Jan-Dirk.ipynb
CBS.ipynb
CBS7.py
Demo Numpy Array.ipynb
Eerste demo.ipynb
IPython.ipynb
Numpy Random.ipynb
Pandas DataFrame.ipynb
Pandas Plot.ipynb
Python Basics.ipynb
Reshaping a dataframe.ipynb
Seaborn.ipynb
Untitled.ipynb

In [37]:
?print

## Datastructures

### Lists

In [54]:
lijst = [4,7,2,8,9,2,5,4]
lijst

[4, 7, 2, 8, 9, 2, 5, 4]

In [55]:
len(lijst)

8

In [56]:
type(lijst)

list

In [57]:
lijst[0]   # eerste

4

In [58]:
lijst[7]

4

In [59]:
lijst[-1]   # laatste

4

In [60]:
lijst[-2]

5

In [62]:
lijst[1:5]

[7, 2, 8, 9]

In [63]:
lijst[-3:]

[2, 5, 4]

In [64]:
lijst[:5]

[4, 7, 2, 8, 9]

In [69]:
len(lijst)

8

In [70]:
max(lijst)

9

In [71]:
min(lijst)

2

In [72]:
sum(lijst)

41

In [77]:
sorted(lijst, reverse=True)

[9, 8, 7, 5, 4, 4, 2, 2]

In [80]:
lijst.append(99)
lijst

[4, 7, 2, 8, 9, 2, 5, 4, 99, 99, 99]

In [81]:
lijst.insert(0, 100)

In [86]:
lijst

[4, 7, 2, 8, 9, 2, 5, 4, 99, 99]

In [91]:
lijst.pop()

4

In [93]:
lijst.sort()

In [94]:
lijst

[2, 2, 4, 5, 7, 8, 9]

## Control statements

In [117]:
gender = 'm'

In [121]:
if gender == 'm':
    print('Beste man')
else:
    print('Beste mevrouw')

print('Hoe is het?')

Beste man
Hoe is het?

In [128]:
waarde = 0

In [129]:
if waarde > 0:
    print('positief')
elif waarde < 0:
    print('negatief')
else:
    print('nul')

nul

### while

In [130]:
aantal = 10
i = 1
while i <= aantal:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [134]:
i = 1
while i <= aantal:
    print(i)
    i += 1
    if i == 5:
        break

1
2
3
4

In [135]:
for getal in [4,6,2,8,9,3]:
    print(getal)

4
6
2
8
9
3

In [137]:
kengetallen.keys()

dict_keys(['Utrecht', 'Amsterdam', 'Kampen', 'Nieuw Vennep', 'Amersfoort', 'Rotterdam'])

In [149]:
for k in sorted(kengetallen.keys()):
    print(f'{k:20}: {kengetallen[k]:>5}')

Amersfoort          :   033
Amsterdam           :   020
Kampen              :   038
Nieuw Vennep        :  0252
Rotterdam           :   010
Utrecht             :   030

In [142]:
kengetallen['Utrecht']

'030'

## dictionary

In [2]:
codes = {'nl':'+31', 'd':'+44', 'b':'+32', 'f':'+34'}

In [3]:
codes

{'nl': '+31', 'd': '+44', 'b': '+32', 'f': '+34'}

In [4]:
type(codes)

dict

In [6]:
codes['b']

'+32'

In [7]:
codes['d'] = '+39'

In [8]:
codes

{'nl': '+31', 'd': '+39', 'b': '+32', 'f': '+34'}

In [9]:
codes['es'] = '+36'

In [10]:
codes

{'nl': '+31', 'd': '+39', 'b': '+32', 'f': '+34', 'es': '+36'}

In [16]:
codes.get('uk', 'onbekend')

'onbekend'

In [17]:
codes.keys()

dict_keys(['nl', 'd', 'b', 'f', 'es'])

In [18]:
codes.values()

dict_values(['+31', '+39', '+32', '+34', '+36'])

In [19]:
codes.items()

dict_items([('nl', '+31'), ('d', '+39'), ('b', '+32'), ('f', '+34'), ('es', '+36')])

In [24]:
for k in codes.keys():
    v = codes[k]
    print(f'{k:10}: {v:>7}')

nl        :     +31
d         :     +39
b         :     +32
f         :     +34
es        :     +36

## Set

In [25]:
getallen = [1,2,3,4,3,3,3,3,3,3,6]

In [27]:
set(getallen)

{1, 2, 3, 4, 6}

In [28]:
zin = 'het is vandaag echt wel heel mooi weer of toch niet want het is wel koud'

In [30]:
woorden = zin.split()
woorden

['het',
 'is',
 'vandaag',
 'echt',
 'wel',
 'heel',
 'mooi',
 'weer',
 'of',
 'toch',
 'niet',
 'want',
 'het',
 'is',
 'wel',
 'koud']

In [32]:
unieke_woorden = set(woorden)
unieke_woorden

{'echt',
 'heel',
 'het',
 'is',
 'koud',
 'mooi',
 'niet',
 'of',
 'toch',
 'vandaag',
 'want',
 'weer',
 'wel'}

In [36]:
for woord in sorted(unieke_woorden):
    n = woorden.count(woord)
    print(f'{woord:10} {n:>7}')

echt             1
heel             1
het              2
is               2
koud             1
mooi             1
niet             1
of               1
toch             1
vandaag          1
want             1
weer             1
wel              2

## Tuple

In [40]:
t = tuple([1,2,37,5,6])
t

(1, 2, 37, 5, 6)

In [64]:
getallen = [1,2,3,4,5]

In [65]:
getallen[2] = 99

In [66]:
getallen

[1, 2, 99, 4, 5]

In [67]:
kopie = getallen[:]

In [68]:
kopie

[1, 2, 99, 4, 5]

In [69]:
getallen.append(999)
getallen.insert(2, 'x')
del getallen[0]

getallen

[2, 'x', 99, 4, 5, 999]

In [70]:
kopie

[1, 2, 99, 4, 5]

## First in first out

In [73]:
buffer = []
buffer.append(1)
buffer.append(2)
buffer.append(3)
buffer.append(4)

buffer

[1, 2, 3, 4]

In [74]:
buffer.pop(0)

1

In [75]:
buffer

[2, 3, 4]

In [76]:
buffer.pop(0)

2

In [77]:
buffer

[3, 4]

In [78]:
from collections import deque

In [79]:
buffer = deque()

buffer.append(1)
buffer.append(2)
buffer.append(3)
buffer.append(4)

buffer

deque([1, 2, 3, 4])

In [82]:
buffer.popleft()

1

In [83]:
buffer.popleft()

2

In [84]:
buffer.popleft()

3

In [85]:
buffer

deque([4])

## Functies

In [87]:
print('Hallo')
print('Hoe gaat het vandaag?')
print('Beste Maria')
print('Tot de volgende keer')

print('Hallo')
print('Hoe gaat het vandaag?')
print('Beste Nick')
print('Tot de volgende keer')

print('Hallo')
print('Hoe gaat het vandaag?')
print('Beste Rob')
print('Tot de volgende keer')

print('Hallo')
print('Hoe gaat het vandaag?')
print('Beste Cindy')
print('Tot de volgende keer')

Hallo
Hoe gaat het vandaag?
Beste Maria
Tot de volgende keer
Hallo
Hoe gaat het vandaag?
Beste Nick
Tot de volgende keer
Hallo
Hoe gaat het vandaag?
Beste Rob
Tot de volgende keer
Hallo
Hoe gaat het vandaag?
Beste Cindy
Tot de volgende keer

In [95]:
def begroeting(naam):
    print('Hallo')
    print('Hoe gaat het vandaag?')
    print('Beste ' + naam)
    print('Tot de volgende keer!!!!!')

In [96]:
begroeting('Maria')
begroeting('Nick')
begroeting('Rob')
begroeting('Cindy')

Hallo
Hoe gaat het vandaag?
Beste Maria
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Nick
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Rob
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Cindy
Tot de volgende keer!!!!!

In [97]:
namen = ['Maria','Nick','Rob','Cindy']
for naam in namen:
    begroeting(naam)

Hallo
Hoe gaat het vandaag?
Beste Maria
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Nick
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Rob
Tot de volgende keer!!!!!
Hallo
Hoe gaat het vandaag?
Beste Cindy
Tot de volgende keer!!!!!

In [98]:
def book_flight(fromairport, toairport, numadults=1, numchildren=0):
    print("\nFlight booked from %s to %s" % (fromairport, toairport))
    print("Number of adults: %d" % numadults)
    print("Number of children: %d" % numchildren)

In [99]:
book_flight('AMS', 'LHR', 2, 2)

Flight booked from AMS to LHR
Number of adults: 2
Number of children: 2

In [100]:
book_flight('AMS', 'LHR', 2)

Flight booked from AMS to LHR
Number of adults: 2
Number of children: 0

In [101]:
book_flight('AMS', 'LHR')

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 0

In [103]:
book_flight(fromairport='AMS', toairport='LHR', numchildren=2)

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 2

In [104]:
book_flight(numchildren=2, toairport='LHR', fromairport='AMS')

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 2

In [107]:
def bereken(getal1, getal2):
    resultaat = (getal1 ** 2 + getal2 ** 2) ** 0.5
    return resultaat

In [108]:
bereken(3, 4)

5.0

In [118]:
def met_aanhef(naam):
    return 'Beste ' + naam.capitalize()

In [119]:
met_aanhef('peter')

'Beste Peter'

In [3]:
getallen = [1,2,3,4,5,6,7,8,9]

In [5]:
import random
random.shuffle(getallen)

In [6]:
getallen

[8, 1, 9, 6, 4, 7, 3, 5, 2]

In [7]:
suits = ['Klaveren','Ruiten','Harten','Schoppen']
ranks = ['2','3','4','5','6','7','8','9','10','B','V','H','A']

In [13]:
cards = [r + ' ' + s for s in suits for r in ranks]

In [21]:
len(cards)

50

In [16]:
random.shuffle(cards)

In [20]:
cards.pop()

'A Schoppen'

In [22]:
type(cards)

list

In [24]:
cards.count('3 Klaveren')

1