# Basic operations in Python
Examples of __operatoren__

In [12]:
343 + 434

777

In [10]:
34 - 7

27

In [11]:
67 * 445

29815

In [8]:
56 / 43

1.302325581395349

In [13]:
56 // 43    # Floored division

1

In [14]:
56 % 43     # rest na floored division  - modulo

13

In [40]:
getal = 67.0

In [41]:
type(getal)

float

In [44]:
bedrag1 = 0.1
bedrag2 = 0.2

totaal = bedrag1 + bedrag2

print(totaal)

0.30000000000000004

In [45]:
totaal == 0.3

False

In [49]:
float('867')

867.0

## Werken met strings

In [4]:
tekst = "Hello world"
tekst = 'Hello world'

print(tekst)

Hello world

#### concatenation

In [17]:
voornaam = 'Peter'
achternaam = 'Anema'

naam = voornaam + ' ' + achternaam          # concatenation

print(naam)

Peter Anema

#### formatting

In [22]:
naam = 'Mijn naam is %s %s' % (voornaam, achternaam)
print(naam)

Mijn naam is Peter Anema

In [23]:
naam = f'Mijn naam is {voornaam} {achternaam}'
print(naam)

Mijn naam is Peter Anema

#### String methods

In [50]:
aanhef = naam.upper()
aanhef

'MIJN NAAM IS PETER ANEMA'

In [96]:
woorden = aanhef.split()
woorden

['MIJN', 'NAAM', 'IS', 'PETER', 'ANEMA']

In [97]:
'_'.join(woorden)

'MIJN_NAAM_IS_PETER_ANEMA'

# IPython

In [28]:
!ls      #  of voor Windows: !dir

7052_95_UntypedDataSet_03052020_113458.csv
CBS Jan-Dirk.ipynb
CBS.ipynb
CBS7.py
Demo Numpy Array.ipynb
Eerste demo.ipynb
IPython.ipynb
Numpy Random.ipynb
Pandas DataFrame.ipynb
Pandas Plot.ipynb
Python Basics.ipynb
Reshaping a dataframe.ipynb
Seaborn.ipynb
Untitled.ipynb

In [37]:
?print

## Datastructures

### Lists

In [54]:
lijst = [4,7,2,8,9,2,5,4]
lijst

[4, 7, 2, 8, 9, 2, 5, 4]

In [55]:
len(lijst)

8

In [56]:
type(lijst)

list

In [57]:
lijst[0]   # eerste

4

In [58]:
lijst[7]

4

In [59]:
lijst[-1]   # laatste

4

In [60]:
lijst[-2]

5

In [62]:
lijst[1:5]

[7, 2, 8, 9]

In [63]:
lijst[-3:]

[2, 5, 4]

In [64]:
lijst[:5]

[4, 7, 2, 8, 9]

In [69]:
len(lijst)

8

In [70]:
max(lijst)

9

In [71]:
min(lijst)

2

In [72]:
sum(lijst)

41

In [77]:
sorted(lijst, reverse=True)

[9, 8, 7, 5, 4, 4, 2, 2]

In [80]:
lijst.append(99)
lijst

[4, 7, 2, 8, 9, 2, 5, 4, 99, 99, 99]

In [81]:
lijst.insert(0, 100)

In [86]:
lijst

[4, 7, 2, 8, 9, 2, 5, 4, 99, 99]

In [91]:
lijst.pop()

4

In [93]:
lijst.sort()

In [94]:
lijst

[2, 2, 4, 5, 7, 8, 9]

## dictionary

In [98]:
kengetallen = {'Utrecht':'030', 'Amsterdam':'020', 'Kampen':'038', 'Nieuw Vennep':'0252', 'Amersfoort':'033'}
kengetallen

{'Utrecht': '030',
 'Amsterdam': '020',
 'Kampen': '038',
 'Nieuw Vennep': '0252',
 'Amersfoort': '033'}

In [99]:
kengetallen['Amersfoort']

'033'

In [104]:
kengetallen['Rotterdam'] = '010'

In [105]:
kengetallen

{'Utrecht': '030',
 'Amsterdam': '020',
 'Kampen': '038',
 'Nieuw Vennep': '0252',
 'Amersfoort': '033',
 'Rotterdam': '010'}

In [107]:
kengetallen.get('Groningen', 'onbekend')

'onbekend'

In [108]:
kengetallen.keys()

dict_keys(['Utrecht', 'Amsterdam', 'Kampen', 'Nieuw Vennep', 'Amersfoort', 'Rotterdam'])

In [109]:
kengetallen.values()

dict_values(['030', '020', '038', '0252', '033', '010'])

In [110]:
kengetallen.items()

dict_items([('Utrecht', '030'), ('Amsterdam', '020'), ('Kampen', '038'), ('Nieuw Vennep', '0252'), ('Amersfoort', '033'), ('Rotterdam', '010')])

## Control statements

In [117]:
gender = 'm'

In [121]:
if gender == 'm':
    print('Beste man')
else:
    print('Beste mevrouw')

print('Hoe is het?')

Beste man
Hoe is het?

In [128]:
waarde = 0

In [129]:
if waarde > 0:
    print('positief')
elif waarde < 0:
    print('negatief')
else:
    print('nul')

nul

### while

In [130]:
aantal = 10
i = 1
while i <= aantal:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [134]:
i = 1
while i <= aantal:
    print(i)
    i += 1
    if i == 5:
        break

1
2
3
4

In [135]:
for getal in [4,6,2,8,9,3]:
    print(getal)

4
6
2
8
9
3

In [137]:
kengetallen.keys()

dict_keys(['Utrecht', 'Amsterdam', 'Kampen', 'Nieuw Vennep', 'Amersfoort', 'Rotterdam'])

In [149]:
for k in sorted(kengetallen.keys()):
    print(f'{k:20}: {kengetallen[k]:>5}')

Amersfoort          :   033
Amsterdam           :   020
Kampen              :   038
Nieuw Vennep        :  0252
Rotterdam           :   010
Utrecht             :   030

In [142]:
kengetallen['Utrecht']

'030'

### Functies

In [157]:
def bereken_som(getal1, getal2):
    print("Som van de getallen is", getal1 + getal2)

In [159]:
bereken_som(5, 2)

Som van de getallen is 7

In [161]:
def bereken_som(getal1, getal2):
    som = getal1 + getal2
    return som

In [160]:
print("Som van de getallen is", bereken_som(5, 2))

Som van de getallen is 7
Som van de getallen is None

In [162]:
 !ls

7052_95_UntypedDataSet_03052020_113458.csv
CBS Jan-Dirk.ipynb
CBS.ipynb
CBS7.py
Demo Numpy Array.ipynb
Eerste demo.ipynb
IPython.ipynb
Numpy Random.ipynb
Opdracht 1.1.ipynb
Pandas DataFrame.ipynb
Pandas Plot.ipynb
Python Basics.ipynb
Reshaping a dataframe.ipynb
Seaborn.ipynb
Untitled.ipynb

# Dictionary

In [4]:
d = {'utrecht':'030', 'amsterdam':'020', 'rotterdam':'010'}

In [7]:
d['amsterdam']

'020'

In [8]:
d['den haag'] = '070'

In [9]:
d

{'utrecht': '030', 'amsterdam': '020', 'rotterdam': '010', 'den haag': '070'}

In [10]:
d['den haag']

'070'

In [11]:
d['x'] = [2,3,4,[8,2],'xxxxz',{'a':'A','b':'B'}]

In [19]:
d

{'utrecht': '030', 'amsterdam': '020', 'rotterdam': '010', 'den haag': '070'}

In [25]:
for key in d.keys():
    value = d[key]
    if value == '020':
        break
print('020 hoort bij ' + key)

020 hoort bij amsterdam

# Functions

In [27]:
print('Hallo')
print('Beste Peter,')
print('Goed je weer te zien')
print('Doei!')

print('Hallo')
print('Beste Demi,')
print('Goed je weer te zien')
print('Doei!')

print('Hallo')
print('Beste Arjan,')
print('Goed je weer te zien')
print('Doei!')

print('Hallo')
print('Beste Rutger,')
print('Goed je weer te zien')
print('Doei!')

Hallo
Beste Peter,
Goed je weer te zien
Doei!
Hallo
Beste Demi,
Goed je weer te zien
Doei!
Hallo
Beste Arjan,
Goed je weer te zien
Doei!
Hallo
Beste Rutger,
Goed je weer te zien
Doei!

In [31]:
def begroeting(naam):
    print('Hallo')
    print(f'Beste {naam},')
    print('Goed je weer te zien')
    print('Doei!')

In [32]:
begroeting('Peter')
begroeting('Demi')
begroeting('Arjan')
begroeting('Rutger')

Hallo
Beste Peter,
Goed je weer te zien
Doei!
Hallo
Beste Demi,
Goed je weer te zien
Doei!
Hallo
Beste Arjan,
Goed je weer te zien
Doei!
Hallo
Beste Rutger,
Goed je weer te zien
Doei!

In [36]:
namen = ['Peter','Demi','Arjan','Rutger']
for naam in namen:
    begroeting(naam)

Hallo
Beste Peter,
Goed je weer te zien
Doei!
Hallo
Beste Demi,
Goed je weer te zien
Doei!
Hallo
Beste Arjan,
Goed je weer te zien
Doei!
Hallo
Beste Rutger,
Goed je weer te zien
Doei!

In [37]:
def bereken(x, y):
    resultaat = (x ** 2 + y ** 2) ** 0.5
    return resultaat

In [38]:
bereken(3, 4)

5.0

In [40]:
z = bereken(7, 10)

In [41]:
z

12.206555615733702

In [42]:
def book_flight(fromairport, toairport, numadults=1, numchildren=0):
    print("\nFlight booked from %s to %s" % (fromairport, toairport))
    print("Number of adults: %d" % numadults)
    print("Number of children: %d" % numchildren)

In [43]:
book_flight('AMS', 'LHR', 2, 2)

Flight booked from AMS to LHR
Number of adults: 2
Number of children: 2

In [44]:
book_flight('AMS', 'LHR', 1, 0)

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 0

In [45]:
book_flight('AMS', 'LHR', 1)

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 0

In [46]:
book_flight('AMS', 'LHR')

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 0

In [47]:
book_flight(toairport='LHR', fromairport='AMS', numchildren=4)

Flight booked from AMS to LHR
Number of adults: 1
Number of children: 4

In [49]:
def telop(x, y):
    return x + y

In [50]:
telop = lambda x, y: x + y

In [51]:
telop(1,2)

3

In [55]:
t = 'abcdefg'

In [57]:
def draai_om(t):
    return t[::-1]

In [60]:
draai_om('Peter')

'reteP'

In [62]:
getallen = [54,78,32,76,34,76,89,23]

In [63]:
sorted(getallen)

[23, 32, 34, 54, 76, 76, 78, 89]

In [64]:
woorden = 'dit is een stukje tekst dat nergens over gaat'.split()

In [65]:
woorden

['dit', 'is', 'een', 'stukje', 'tekst', 'dat', 'nergens', 'over', 'gaat']

In [66]:
sorted(woorden)

['dat', 'dit', 'een', 'gaat', 'is', 'nergens', 'over', 'stukje', 'tekst']

In [67]:
sorted(woorden, key=len)

['is', 'dit', 'een', 'dat', 'over', 'gaat', 'tekst', 'stukje', 'nergens']

In [68]:
sorted(woorden, key=draai_om)

['stukje', 'een', 'over', 'is', 'nergens', 'gaat', 'dat', 'dit', 'tekst']

In [70]:
sorted(woorden, key = lambda w: w.count('a'))

['dit', 'is', 'een', 'stukje', 'tekst', 'nergens', 'over', 'dat', 'gaat']

In [72]:
list(filter(lambda w: w.count('e') > 1, woorden))

['een', 'nergens']

# Object Orientated Programming

In [73]:
s = 'abcdefg'

In [74]:
type(s)

str

In [75]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [76]:
s.upper()

'ABCDEFG'

In [77]:
s.lower()

'abcdefg'

In [81]:
s.lower().count('e')

1

In [82]:
l = [3,2,1]

In [83]:
l.append(8)

In [84]:
l

[3, 2, 1, 8]

In [85]:
l.pop(0)

3

In [86]:
l

[2, 1, 8]

In [98]:
s = {"coord":{"lon":4.8,"lat":53.0833},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"base":"stations","main":{"temp":2.93,"feels_like":-4.37,"temp_min":2.78,"temp_max":3,"pressure":1011,"humidity":70},"visibility":10000,"wind":{"speed":7.2,"deg":330},"clouds":{"all":75},"dt":1617734302,"sys":{"type":1,"id":1533,"country":"NL","sunrise":1617685339,"sunset":1617733419},"timezone":7200,"id":2746383,"name":"Gemeente Texel","cod":200}

In [91]:
import json

In [92]:
d = json.loads(s)

In [96]:
d['main']['temp']

1.69

In [99]:
type(s)

dict