In [106]:
import numpy as np
import pandas as pd

## Create a DataFrame with categorical data

In [162]:
df = pd.DataFrame({'Kleur':['Rood', 'Groen', 'Geel', 'Orange', 'Rood', 'Rood', 'Groen']})

In [163]:
df['Kleur'] = df['Kleur'].astype('category')

In [164]:
df

    Kleur
0    Rood
1   Groen
2    Geel
3  Orange
4    Rood
5    Rood
6   Groen

## Encoding Categorical Features

In [165]:
from sklearn import preprocessing

### Label Encoding

In [166]:
le = preprocessing.LabelEncoder()

le.fit(df['Kleur'])

le_encoded = le.transform(df['Kleur'])

In [167]:
le.classes_

array(['Geel', 'Groen', 'Orange', 'Rood'], dtype=object)

In [168]:
le_encoded

array([3, 1, 0, 2, 3, 3, 1])

In [169]:
df['Label Encoded'] = le_encoded
df

    Kleur  Label Encoded
0    Rood              3
1   Groen              1
2    Geel              0
3  Orange              2
4    Rood              3
5    Rood              3
6   Groen              1

### One-hot Encoding

In [170]:
X = np.array(df['Kleur'].values).reshape(-1, 1)
X

array([['Rood'],
       ['Groen'],
       ['Geel'],
       ['Orange'],
       ['Rood'],
       ['Rood'],
       ['Groen']], dtype=object)

In [171]:
ohe = preprocessing.OneHotEncoder(sparse = False)

ohe.fit(np.array(X))

OneHotEncoder(sparse=False)

In [172]:
ohe.categories_[0]

array(['Geel', 'Groen', 'Orange', 'Rood'], dtype=object)

In [173]:
ohe_encoded = ohe.transform(X).astype('int')

In [174]:
ohe_encoded

array([[0, 0, 0, 1],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 1, 0, 0]])

In [175]:
df.join(pd.DataFrame(ohe_encoded, columns=ohe.categories_[0]))

    Kleur  Label Encoded  Geel  Groen  Orange  Rood
0    Rood              3     0      0       0     1
1   Groen              1     0      1       0     0
2    Geel              0     1      0       0     0
3  Orange              2     0      0       1     0
4    Rood              3     0      0       0     1
5    Rood              3     0      0       0     1
6   Groen              1     0      1       0     0