# Dicts

In [1]:
d = {'Utrecht': '030', 'Amsterdam':'020', 'Rotterdam':'010', 'Den Haag': '070'}

In [12]:
d['Rotterdam']

'010'

In [13]:
type(d)

dict

In [15]:
d['Capelle'] = '010'

In [16]:
d['Capelle']

'010'

In [17]:
d

{'Utrecht': '030',
 'Amsterdam': '020',
 'Rotterdam': '010',
 'Den Haag': '070',
 'Capelle': '010'}

In [18]:
d.keys()

dict_keys(['Utrecht', 'Amsterdam', 'Rotterdam', 'Den Haag', 'Capelle'])

In [19]:
for k in d.keys():
    print(k)

Utrecht
Amsterdam
Rotterdam
Den Haag
Capelle

In [23]:
for k, v in d.items():
    print(k + ': ' + v)

Utrecht: 030
Amsterdam: 020
Rotterdam: 010
Den Haag: 070
Capelle: 010

#### Format operator %

In [32]:
for k, v in d.items():
    print('%-15s: %s' % (k, v))

Utrecht        : 030
Amsterdam      : 020
Rotterdam      : 010
Den Haag       : 070
Capelle        : 010

#### Format method

In [31]:
for k, v in d.items():
    print('{:15}: {}'.format(k, v))

Utrecht        : 030
Amsterdam      : 020
Rotterdam      : 010
Den Haag       : 070
Capelle        : 010

#### Format string f''

In [22]:
for k, v in d.items():
    print(f'{k:15}: {v}')

Utrecht        : 030
Amsterdam      : 020
Rotterdam      : 010
Den Haag       : 070
Capelle        : 010

'Hoe gaat het Peter?'

# Context manager

In [34]:
!ls

7052_95_UntypedDataSet_03052020_113458.csv
CBS Jan-Dirk.ipynb
CBS.ipynb
CBS7.py
CSV importeren.ipynb
Covid19.ipynb
Demo Dataframe.ipynb
Demo Matplotlib.ipynb
Demo Numpy Array.ipynb
Demo Numpy.ipynb
Demo Pandas.ipynb
Demo Standard Library.ipynb
Eerste demo.ipynb
Encoding.ipynb
GeoPandas.ipynb
IPython.ipynb
Jupyter notebooks les 2.zip
Lineaire regressie.ipynb
Logaritmisch Regressie.ipynb
Mijn eerste Jupyter Notebook.ipynb
Multiple Regression.ipynb
Numpy Random.ipynb
Numpy.ipynb
Opdracht 5.1.ipynb
Overgangen.ipynb
Pandas DataFrame.ipynb
Pandas Plot.ipynb
Python Basic.ipynb
Python Basic.ipynb.zip
Python Basics.ipynb
Regressie.ipynb
Reshaping a dataframe.ipynb
Seaborn from Python Data Science Handbook.ipynb
Seaborn.ipynb
Untitled.ipynb
covid19_worldwide.csv
data.csv
data.txt
read_html.ipynb
reading ca-500.csv.ipynb
x09.txt
x09_prepared.txt

In [8]:
filename = 'data.txt'

In [36]:
f = open(filename)
content = f.read()
f.close()

In [39]:
with open(filename) as f:
    content = f.read()

In [40]:
print(content)

Naam, Woonplaats
Peter, Lhee
Pim, Capelle
Nando, Zoetermeer
Charlotte, Zwolle
Henk, Berkenwoude

In [41]:
content

'Naam, Woonplaats\nPeter, Lhee\nPim, Capelle\nNando, Zoetermeer\nCharlotte, Zwolle\nHenk, Berkenwoude\n'

In [51]:
with open(filename) as f:
    line = f.readline()
    headers = line.strip().split(', ')
    for line in f:
        columns = line.strip().split(', ')
        d = dict(zip(headers, columns))
        if d['Woonplaats'].endswith('e'):
            print(f'{d["Naam"]} woont in {d["Woonplaats"]}.')

Peter woont in Lhee.
Pim woont in Capelle.
Charlotte woont in Zwolle.
Henk woont in Berkenwoude.

## Pandas DataFrame

In [9]:
import pandas as pd

In [14]:
df = pd.read_csv(filename, sep=';', quotechar='"', decimal=',')
df

        Naam    Woonplaats   Afstand
0      Peter          Lhee      20.6
1        Pim       Capelle      23.3
2      Nando    Zoetermeer      10.8
3  Charlotte        Zwolle       2.9
4       Henk   Berkenwoude     123.0

In [100]:
settings = {'sep':',', 'quotechar': '"', 'decimal': '.'}
settings

{'sep': ',', 'quotechar': '"', 'decimal': '.'}

In [101]:
df = pd.read_csv(filename, **settings)

In [ ]:
df

In [62]:
display(df)

        Naam    Woonplaats
0      Peter          Lhee
1        Pim       Capelle
2      Nando    Zoetermeer
3  Charlotte        Zwolle
4       Henk   Berkenwoude

In [63]:
print(df)

        Naam    Woonplaats
0      Peter          Lhee
1        Pim       Capelle
2      Nando    Zoetermeer
3  Charlotte        Zwolle
4       Henk   Berkenwoude

In [61]:
df.tail(2)

        Naam    Woonplaats   Afstand
3  Charlotte        Zwolle       2.9
4       Henk   Berkenwoude     123.0

# Functions

In [67]:
def doe_iets(naam):
    print('Hi there!! ' + naam)

In [68]:
doe_iets('Charlotte')

Hi there!! Charlotte

In [79]:
def tel_op(getal1, getal2, getal3, getal4):
    som = getal1 + getal2 + getal3 + getal4
    return som

In [80]:
tel_op(43, 645, 55, 34)

777

### Variadic argument

In [83]:
def tel_op(*getallen):
    som = 0
    for getal in getallen:
        som += getal
    return som

In [84]:
tel_op(43, 645, 55, 34)

777

In [1]:
def booking(van, naar, aantal_volwassenen=1, aantal_kinderen=0, **kwargs):
    print(f'Uw reis van {van} naar {naar} voor {aantal_volwassenen} volwassenen en {aantal_kinderen} kinderen is geboekt')
    print('Extra\'s:')
    for k, v in kwargs.items():
          print(f'{k.upper():20}: {v}')

In [2]:
booking('AMS', 'NY', 2, 4)

Uw reis van AMS naar NY voor 2 volwassenen en 4 kinderen is geboekt
Extra's:

In [3]:
booking('AMS', 'NY')

Uw reis van AMS naar NY voor 1 volwassenen en 0 kinderen is geboekt
Extra's:

In [4]:
booking(van = 'AMS', 
        naar = 'NY', 
        aantal_kinderen = 4)

Uw reis van AMS naar NY voor 1 volwassenen en 4 kinderen is geboekt
Extra's:

In [5]:
booking(van = 'AMS', 
        naar = 'NY', 
        aantal_kinderen = 4,
        extra_beenruimte = True,
        dieet = 'Vegatarisch')

Uw reis van AMS naar NY voor 1 volwassenen en 4 kinderen is geboekt
Extra's:
EXTRA_BEENRUIMTE    : True
DIEET               : Vegatarisch

# Object Oriented

### Klassen
### Objecten
* Naam
* Eigenschappen (attributen)
* Gedrag (methods)

In [21]:
class Persoon:
    
    __slots__ = ('naam', 'woonplaats', 'leeftijd')
    
    def __init__(self, naam, woonplaats, leeftijd):
        self.naam = naam
        self.woonplaats = woonplaats
        self.leeftijd = leeftijd
    
    def vertel(self):
        return f'Ik ben {self.naam}. Ik woon in {self.woonplaats}. En ik ben {self.leeftijd}.'
    
    def verhuis(self, nieuwe_woonplaats):
        self.woonplaats = nieuwe_woonplaats

In [25]:
p1 = Persoon('Peter', 'Lhee', 63)
p2 = Persoon('Pim', 'Capelle', 46)

In [26]:
p1.vertel()

'Ik ben Peter. Ik woon in Lhee. En ik ben 63.'

In [27]:
p2.vertel()

'Ik ben Pim. Ik woon in Capelle. En ik ben 46.'

In [28]:
p1.verhuis('Zwolle')

In [29]:
p1.vertel()

'Ik ben Peter. Ik woon in Zwolle. En ik ben 63.'

### Class str

In [51]:
s = str(4353453)

In [52]:
print(type(s))

<class 'str'>

In [53]:
s.upper()

'4353453'

In [50]:
s.title()

'Dit Is Tekst'

In [36]:
s.split()

['Dit', 'is', 'tekst']

In [37]:
import decimal

In [38]:
d1 = decimal.Decimal(9)

In [40]:
print(type(d1))

<class 'decimal.Decimal'>

In [41]:
from datetime import date

In [42]:
dd1 = date(2020, 12, 9)

In [43]:
dd1

datetime.date(2020, 12, 9)

In [44]:
dd1.weekday()

2

In [47]:
dd1.strftime('%Y-%m-%d')

'2020-12-09'

In [54]:
print = 'Dit is mijn output'

In [58]:
del print

In [59]:
print(p1.vertel())

Ik ben Peter. Ik woon in Zwolle. En ik ben 63.

In [73]:
url = 'https://nl.wikipedia.org/wiki/Lijst_van_Nederlandse_gemeenten'

pd.read_html(url, thousands=',', decimal='.')[0]

,Gemeente,CBS-code[1],Provincie,Inwoneraantal[2],Inwoners per km²land-oppervlakte [2],Land-oppervlakte(km²)[2],Kaart,Gemiddeld huishoudinkomen (×€1000)(excl. studenten)(CBS/2017)
0,Aa en Hunze,1680,Drenthe,NaN,NaN,NaN,NaN,307.0
1,Aalsmeer,358,Noord-Holland,NaN,NaN,NaN,NaN,340.0
2,Aalten,197,Gelderland,NaN,NaN,NaN,NaN,278.0
3,Achtkarspelen,59,Friesland,NaN,NaN,NaN,NaN,NaN
4,Alblasserdam,482,Zuid-Holland,NaN,NaN,NaN,NaN,288.0
...,...,...,...,...,...,...,...,...
350,Zundert,879,Noord-Brabant,NaN,NaN,NaN,NaN,NaN
351,Zutphen,301,Gelderland,NaN,NaN,NaN,NaN,NaN
352,Zwartewaterland,1896,Overijssel,NaN,NaN,NaN,NaN,NaN
353,Zwijndrecht,642,Zuid-Holland,NaN,NaN,NaN,NaN,NaN
354,Zwolle,193,Overijssel,NaN,NaN,NaN,NaN,NaN