In [1]:
import pandas as pd

In [2]:
filename = 'result.txt'

In [3]:
!ls result.txt

result.txt

In [10]:
columns = 'STN,YYYYMMDD,TG,TN,TX'.split(',')
columns

['STN', 'YYYYMMDD', 'TG', 'TN', 'TX']

In [11]:
df = pd.read_csv(filename, comment='#', names=columns)

In [13]:
df

     STN  YYYYMMDD  TG  TN  TX
0    260  20200101   8  -2  18
1    260  20200102  39  13  74
2    260  20200103  76  43  99
3    260  20200104  67  40  81
4    260  20200105  69  59  76
..   ...       ...  ..  ..  ..
727  279  20201227  44  34  53
728  279  20201228  35  14  58
729  279  20201229  32  23  42
730  279  20201230  31  12  58
731  279  20201231  19 -16  38

[732 rows x 5 columns]