# Python Basics

In [3]:
print('Hello world!!!')

Hello world!!!

In [4]:
naam = 'Peter'

In [5]:
print(naam)

Peter

In [7]:
print('Hallo ' + naam)

Hallo Peter

## Variabelen en operatoren

In [8]:
n = 234

In [9]:
n + 1

235

In [10]:
n - 89

145

In [11]:
n * 10

2340

In [12]:
n / 5

46.8

In [13]:
n // 5

46

In [14]:
n % 5

4

In [15]:
d1 = 2.5

In [16]:
d1 * 100

250.0

In [17]:
d1 = 0.1
d2 = 0.2

In [18]:
d1 + d1

0.2

In [19]:
d2 + d2

0.4

In [20]:
d1 + d2

0.30000000000000004

In [22]:
d1 + d1 == 0.2

True

In [23]:
d1 + d2 == 0.3

False

In [24]:
d1

0.1

In [25]:
d2

0.2

In [26]:
d1 == d2

False

In [27]:
d1 != d2

True

In [28]:
d1 > d2

False

In [29]:
d1 >= d2

False

In [30]:
d1 < d2

True

In [31]:
d1 <= d2

True

In [32]:
getal = 0.15

In [33]:
getal >= d1 and getal <= d2

True

In [34]:
getal = 0.3

In [35]:
getal >= d1 and getal <= d2

False

In [36]:
getal < d1 or getal > d2

True

In [38]:
result = 750 * 5 / 4 + 9856734

In [39]:
result

9857671.5

In [40]:
print(result)

9857671.5

### Strings

In [43]:
naam = 'Peter'
naam = "Peter"

In [44]:
naam

'Peter'

In [45]:
s = "Peter's"
s

"Peter's"

In [46]:
voornaam = 'Albert'
achternaam = 'Einstein'
naam = voornaam + ' ' + achternaam
naam

'Albert Einstein'

In [47]:
'%s %s' % (voornaam, achternaam)

'Albert Einstein'

In [48]:
'Het is nu %d jaar geleden' % 98

'Het is nu 98 jaar geleden'

In [50]:
pi = 3.14159
'De waarde van pi is %0.2f' % pi

'De waarde van pi is 3.14'

In [52]:
naam.upper()

'ALBERT EINSTEIN'

In [53]:
naam.lower()

'albert einstein'

In [54]:
len(naam)

15

In [55]:
naam[0]

'A'

In [56]:
naam[1]

'l'

In [57]:
naam[2]

'b'

In [58]:
naam[-1]

'n'

In [59]:
naam[-2]

'i'

In [60]:
naam[2:6]

'bert'

In [61]:
naam[:6]

'Albert'

In [62]:
naam[6:]

' Einstein'

In [63]:
naam[7:]

'Einstein'

## Datastructures

#### list

In [64]:
getallen = [3,6,2,8,5,7,9,3]

In [65]:
len(getallen)

8

In [66]:
getallen

[3, 6, 2, 8, 5, 7, 9, 3]

In [67]:
getallen[4]

5

In [69]:
getallen[0]

3

In [70]:
getallen[-1]

3

In [71]:
getallen[-2]

9

In [72]:
getallen[2:6]

[2, 8, 5, 7]

In [73]:
getallen[5:7]

[7, 9]

In [74]:
getallen[-3:-1]

[7, 9]

In [75]:
len(getallen)

8

In [76]:
sum(getallen)

43

In [77]:
min(getallen)

2

In [78]:
max(getallen)

9

#### dictionary

In [80]:
d = {'nl': '+31', 'b': '+32', 'f': '+34'}

In [81]:
d['nl']

'+31'

In [82]:
d['b']

'+32'

In [83]:
d['d'] = '+44'

In [84]:
d

{'nl': '+31', 'b': '+32', 'f': '+34', 'd': '+44'}

### Flow control

In [85]:
geslacht = 'v'
if geslacht == 'v':
    aanhef = 'mevrouw'
else:
    aanhef = 'meneer'

In [86]:
aanhef

'mevrouw'

In [87]:
geslacht = 'm'
if geslacht == 'v':
    aanhef = 'mevrouw'
else:
    aanhef = 'meneer'

In [88]:
aanhef

'meneer'

In [102]:
geslacht = 'v'
if geslacht == 'v':
    aanhef = 'mevrouw'
elif geslacht == 'm':
    aanhef = 'meneer'
else:
    aanhef = 'mens'
aanhef = 'beste ' + aanhef

In [103]:
aanhef

'beste mevrouw'

In [104]:
aantal = 10
i = 1
while i < aantal:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9

In [108]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

### Functies

In [109]:
getallen

[3, 6, 2, 8, 5, 7, 9, 3]

In [110]:
sorted(getallen)

[2, 3, 3, 5, 6, 7, 8, 9]

In [111]:
def telop(getal1, getal2):
    return getal1 + getal2

In [112]:
telop(3, 4)

7

In [113]:
def telop(getal1, getal2, getal3):
        return getal1 + getal2 + getal3

In [114]:
telop(2,3,4)

9

In [115]:
sum(getallen)

43

In [117]:
def telop(lijst_van_getallen):
    som = 0
    for getal in lijst_van_getallen:
        som = som + getal
    return som

In [118]:
telop(getallen)

43

### Opdracht: Maak een functie die het gemiddelde berekent van een list van getallen

Het gemiddelde van een serie getallen is de som van de getallen gedeeld door het aantal getallen.

In [120]:
def mean(getallen):
    som = sum(getallen)
    aantal = len(getallen)
    gemiddelde = som / aantal
    return gemiddelde

In [132]:
mean([4,4,4,6,7,8,8])

5.857142857142857

### Opdracht: Maak een functie die de mediaan berekent van een list van getallen
De mediaan van een serie getallen is het middelste getal als de getallen zijn gesorteerd

Dus van de getallen 2, 4, 5, 7, 8, 9, 10 is 7 de mediaan

In [125]:
def median(getallen):
    gesorteerd = sorted(getallen)
    aantal = len(getallen)
    middelste_index = aantal // 2
    mediaan = gesorteerd[middelste_index]
    return mediaan

In [133]:
median([4,4,4,6,7,8,8])

6

### Opdracht: Maak een functie genaamd statistiek die van een list van getallen verschillende kenmerken teruggeeft in een dictionary. 
Bereken de kenmerken: mininum, maximum, gemiddelde, median en de spreiding. 

De spreiding is het verschil van het maximum en het minimum.

In [138]:
def statistiek(getallen):
    maximum = max(getallen)
    minimum = min(getallen)
    gemiddelde = mean(getallen)
    mediaan = median(getallen)
    spreiding = maximum - minimum
    return {
        "maximum": maximum, 
        "minimum": minimum, 
        "gemiddelde": gemiddelde, 
        "mediaan": mediaan, 
        "spreiding": spreiding 
    }

In [144]:
def statistiek(getallen):
    d = dict()
    d['maximum'] = max(getallen)
    d['minimum'] = min(getallen)
    d['gemiddelde'] = mean(getallen)
    d['mediaan'] = median(getallen)
    d['spreiding'] = d['maximum'] - d['minimum']
    return d

In [145]:
statistiek(getallen)

{'maximum': 9, 'minimum': 2, 'gemiddelde': 5.375, 'mediaan': 6, 'spreiding': 7}

## Python Standard Library

### math

In [146]:
import math

In [147]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [148]:
math.pi

3.141592653589793

In [149]:
math.cos(1.4)

0.169967142900241

### random

In [150]:
import random

In [151]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [154]:
random.randint(1, 99)

27

In [155]:
getallen

[3, 6, 2, 8, 5, 7, 9, 3]

In [160]:
random.sample(getallen, 3)

[9, 3, 2]

In [161]:
random.shuffle(getallen)

In [162]:
getallen

[6, 3, 8, 3, 7, 9, 2, 5]

### statistics

In [163]:
import statistics

In [164]:
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'NormalDist',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_normal_dist_inv_cdf',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'sqrt',
 'stdev',
 'tau',
 'variance']

In [165]:
statistics.mean(getallen)

5.375

In [166]:
mean(getallen)

5.375

In [167]:
statistics.median(getallen)

5.5

In [168]:
median(getallen)

6

In [169]:
len(getallen)

8