In [1]:
import pandas as pd

In [3]:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
         {'account': 'Alpha Co',  'Jan': 200, 'Feb': 210, 'Mar': 215},
         {'account': 'Blue Inc',  'Jan': 50,  'Feb': 90,  'Mar': 95 }]

df = pd.DataFrame(sales)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [4]:
df['account']

0    Jones LLC
1     Alpha Co
2     Blue Inc
Name: account, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   account  3 non-null      object
 1   Jan      3 non-null      int64
 2   Feb      3 non-null      int64
 3   Mar      3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes