# Python Basics

In [10]:
getal1 = 59
getal2 = 5

print(getal1 / getal2)      # division
print(getal1 // getal2)     # floored division
print(getal1 % getal2)      # remainder of modulo

print(getal1 ** getal2)      # power

11.8
11
4
714924299

In [15]:
getal = 876876876

print(getal / 7)

is_deelbaar_door_7 = getal % 7 == 0

print(is_deelbaar_door_7)

125268125.14285715
False

In [16]:
'abc' + 'def'

'abcdef'

In [80]:
s = 'De KAT krabt de krullen van de trap'

In [22]:
s.lower().count('a', 16)

2

In [27]:
s[-4:]

'trap'

In [25]:
s[23]

' '

In [30]:
s = '\u2282'
print(s)

print('⊂')

⊂
⊂

In [42]:
i = 1
while i <= 10:
    if i == 7:
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [49]:
for item in range(1, 11):
    if item == 7:
        continue
    print(item)

1
2
3
4
5
6
8
9
10

In [79]:
def add_numbers(*args, factor = 1, **kwargs):
    total = 0
    for n in args:
        total += n
    return total * factor

In [78]:
add_numbers(2, 5, 3, factor = 10)

100

In [69]:
add_numbers(2, 5)

7

In [70]:
add_numbers(3, 4, 7, 5, 8)

27

In [90]:
words = s.lower().split()
words

['de', 'kat', 'krabt', 'de', 'krullen', 'van', 'de', 'trap']

In [91]:
sorted(words)

['de', 'de', 'de', 'kat', 'krabt', 'krullen', 'trap', 'van']

In [94]:
sorted(words, key=len)

['krullen', 'krabt', 'trap', 'kat', 'van', 'de', 'de', 'de']

In [96]:
def count_e(word):
    return word.count('e')

In [99]:
lambda word: word.count('e')

In [97]:
count_e('eendenkooi')

3

In [103]:
sorted(words, key=lambda word: word.count('k'))

['de', 'de', 'van', 'de', 'trap', 'kat', 'krabt', 'krullen']

In [120]:
with open('data.csv') as f:

    headers = f.readline().strip().split(',')
    print(headers)

    for line in f.readlines():
        values = line.rstrip('\n').split(',')
        d = dict(zip(headers, values))
        print(d)
        value = float(d['value'])
        if 'error' in line and value > 20:
            print(d['id'], value)

['id', 'name', 'value', 'comment']
{'id': '1', 'name': 'abc', 'value': '23.5', 'comment': 'OK'}
{'id': '2', 'name': 'sfd', 'value': '233.5', 'comment': 'OK'}
{'id': '3', 'name': 'abc', 'value': '23.5', 'comment': 'OK'}
{'id': '4', 'name': 'absdc', 'value': '3.5', 'comment': 'error'}
{'id': '5', 'name': 'sdf', 'value': '5.5', 'comment': 'OK'}
{'id': '6', 'name': 'sd', 'value': '73.5', 'comment': 'OK'}
{'id': '17', 'name': 'sd', 'value': '23.5', 'comment': 'error'}
17 23.5

In [124]:
numbers = [23, 45, 67, 98]
numbers.append(99)
print(numbers)
print(type(numbers))

[23, 45, 67, 98, 99]
<class 'list'>

In [127]:
record = (6, 'abcde', 3.5, 'OK')
print(type(record))

<class 'tuple'>

In [138]:
def min_mean_max(*numbers):
    minimum = numbers[0]
    maximum = numbers[0]
    total = 0
    for number in numbers[1:]:
        if number < minimum:
            minimum = number
        if number > maximum:
            maximum = number
        total += number
        mean = total / len(numbers)
    return minimum, mean, maximum


print(min_mean_max(2,6,3,4,9,2))
print(min_mean_max(2,6,3,4))
print(min_mean_max(3,4,9,8,7,6,5,4))

(2, 4.0, 9)
(2, 3.25, 6)
(3, 5.375, 9)

In [155]:
import statistics as stat

print(numbers)
print(min(numbers))
print(sum(numbers))
print(len(numbers))
print(max(numbers))

print(stat.mean(numbers))

[83, 75, 69, 43, 44, 49, 51, 23, 90, 60, 45, 80, 22, 83, 51, 13, 59, 27, 16, 58, 54, 30, 44, 51, 66, 68, 6, 37, 51, 60, 30, 72, 46, 13, 98, 25, 50, 94, 71, 95, 11, 27, 42, 95, 76, 1, 70, 38, 53, 80, 36, 33, 37, 5, 78, 84, 64, 98, 39, 47, 39, 5, 13, 31, 9, 39, 50, 93, 85, 65, 28, 1, 15, 23, 59, 43, 83, 59, 75, 58, 29, 68, 10, 43, 47, 64, 87, 14, 6, 99, 18, 75, 75, 3, 48, 38, 56, 45, 92, 99]
1
5005
100
99
50.05

In [150]:
import numpy as np

anumbers = np.random.randint(1, 100, 100)
numbers = list(map(int, anumbers))

anumbers

array([83, 75, 69, 43, 44, 49, 51, 23, 90, 60, 45, 80, 22, 83, 51, 13, 59,
       27, 16, 58, 54, 30, 44, 51, 66, 68,  6, 37, 51, 60, 30, 72, 46, 13,
       98, 25, 50, 94, 71, 95, 11, 27, 42, 95, 76,  1, 70, 38, 53, 80, 36,
       33, 37,  5, 78, 84, 64, 98, 39, 47, 39,  5, 13, 31,  9, 39, 50, 93,
       85, 65, 28,  1, 15, 23, 59, 43, 83, 59, 75, 58, 29, 68, 10, 43, 47,
       64, 87, 14,  6, 99, 18, 75, 75,  3, 48, 38, 56, 45, 92, 99])

In [159]:
%timeit stat.mean(numbers)

12 μs ± 218 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [160]:
%timeit anumbers.mean()

1.81 μs ± 4.23 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [165]:
unique = set(numbers)
print(type(unique))
print(len(unique))

<class 'set'>
64

In [166]:
len(numbers)

100

In [168]:
d = {'nl': '+31', 'b':'+32','f':'+34'}

print(type(d))

<class 'dict'>

In [177]:
d.get('d', 'onbekend')

'onbekend'

In [184]:
for k, v in d.items():
    print(f'{k:10}: {v}')

nl        : +31
b         : +32
f         : +34
uk        : +44

In [185]:
s = 'abcd eggdj sjhg'
s.upper()

'ABCD EGGDJ SJHG'

In [186]:
numbers = [1,2,3]
numbers.append(9)

In [188]:
class Person:

    # initialize attributes
    def __init__(self, name, residence):
        self.name = name
        self.residence = residence

    # methods
    def tell(self):
        return f'I am {self.name} and I live in {self.residence}.'
    
    def move(self, new_resdence):
        self.residence = new_resdence
        
# -------------------------------------------------

p = Person('Peter', 'Lhee')

print(p.tell())
p.move('Soesterberg')
print(p.tell())

s = 'abc'
print(s.upper())

I am Peter and I live in Lhee.
I am Peter and I live in Soesterberg.

In [191]:
[n ** 2 for n in range(1, 11) if n >= 4]  # list comprehension

[16, 25, 36, 49, 64, 81, 100]